body {
    background-color: rgb(199, 248, 255);
}

.under {
    text-decoration: underline;
}

p {
    padding-left: 25px;
}

h3 {
    padding-left: 25px;
}

h3:target {
    text-decoration: underline;
    font-style: italic;
}

a {
    text-decoration: none;
    color: rgb(36, 111, 196);
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgb(160, 160, 160);
}

.links {
    display: inline-block;
    background-color: white;
    height: 210px;
    width: 210px;
    border: solid 3px;
}

.backgorund-links {
    background-color: rgb(167, 167, 167);
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
    border: solid 5px;
}

.articles {
    display: inline-block;
    background-color: rgb(180, 180, 180);
    height: 210px;
    width: 210px;
    margin: 5px;
}

.backgorund-art {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.backgorund-art2 {
    background-color: rgb(166, 166, 166);
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    display: inline-block;
}